.add-comment {
    margin: 30px 0;
}

.add-comment-input {
    width: 100%;
    font-size: 20px;
    border: none;
    padding: 15px;
    margin-bottom: 11px;
    border-radius: 5px;
    color: var(--gray-color);
}

.add-comment-btn {
    width: 100%;
    background: linear-gradient(to right, #0074D9, #3498DB, #7FB3D5);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: .5s;
    font-size: 20px;
}

.add-comment-btn:hover {
    background: linear-gradient(to right, #7FB3D5, #3498DB, #0074D9);
}
