.sidebar {
    flex: 3;
    margin-left: 25px;
}

.sidebar-title {
    color: var(--primary-color);
    text-align: center;
    padding: 5px;
    font-size: 25px;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.sidebar-links {
    margin-top: 10px;
    padding: 10px;
}

.sidebar-link {
    margin: 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-color);
    cursor: pointer;
    background-color: rgb(170, 160, 160);
    text-align: center;
    padding: 5px;
    position: relative;
    text-transform: capitalize;
    display: block;
    transition: ease-in .2s ;
    clip-path: polygon(100% 0%, 100% 49%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.sidebar-link:hover {
    background-color: var(--pumpkin-color);
    color: var(--white-color);
}


.sidebar-link::after {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    left: 90px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--white-color);
}

/* Media Queries  */


@media (max-width: 990px) {
    .sidebar {
        margin-left: 0;
        width: 100%;
    }

    .home-link {
        width: 100%;
    }
}


