* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 80px;
    background-color: var(--dark-color);
    position: relative;
    z-index: 99;
    border-bottom: 2px solid var(--white-color);
}

/* Header Left  */
.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    font-size: 35px;
    font-weight: 900;
    text-decoration: underline;
    color: var(--white-color);
}

.header-logo .icon-blog {
    font-size: 35px;
}

.header-menu {
    display: none;
}

.header-menu .icon {
    font-style: 40px;
    color: var(--white-color);
    cursor: pointer;
}

.icon-toggle {
    color: white;
    font-size: 35px;
}


/* Navbar */
.nav-links {
    display: flex;
    align-items: center;
}

.nav-link {
    margin: 0 15px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    color: var(--white-color);
    transition: .5s;
}


.nav-link:hover {
    color: var(--gray-color);
}

.nav-link .icon {
    margin-right: 3px;
    font-size: 25px;
}

/* Header Right  */
.header-right {
    display: flex;
}


.header-right-link {
    margin-left: 10px;
    font-size: 22px;
    background-color: var(--white-color);
    color: var(--blue-color);
    border-radius: 10px;
    padding: 5px 10px;
    transition: .4s;
    display: flex;
}

.header-right-link:hover {
    background-color: var(--gray-color);
}


.header-right-link .icon {
    margin-right: 5px;
}


.header-right-user-info {
    display: flex;
    align-items: center;
    position: relative;
}

.header-right-username {
    color: var(--white-color);
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
}

.header-right-user-photo {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    object-fit: cover;
    border-radius: 50%;
}

/* Dropdown  */
.header-right-dropdown {
    position: absolute;
    right: 50%;
    top: 100%;
    background-color: var(--gray-color);
    border: 2px solid var(--white-color);
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    text-align: left;
}

.header-dropdown-item {
    color: var(--dark-color);
    font-weight: 500;
    font-size: 22px;
    margin-top: 15px;
    cursor: pointer;
}



/* Media Queries  */

@media (max-width: 990px) {
    .header-left {
        flex-direction: row-reverse;
    }

    .header-menu {
        display: block;
        margin-right: 5px;
    }

    .navbar {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: var(--dark-color);
        transition: all .7s;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 30px;
    }

    .nav-link {
        margin: 0;
        margin-bottom: 15px;
    }
}

@media (max-width: 520px) {
    .header {
        padding: 0 10px;
    }

    .header-logo {
        font-size: 19px;
    }

    .header-menu {
        margin-right: 10px;
    }

    .header-menu .icon-toggle {
        font-size: 25px;
    }

    .header-right {
        font-size: 18px;
        padding: 5px 7px;
    }

    .header-logo .icon-blog {
        font-size: 20px;
    }
}



